
/* Colors */

$page_font_color: #000000;
$block_bg: #ffffff;


/* Fonts */

$title_font: 'Cormorant', serif;
$content_font: 'Roboto', sans-serif;

/* Others variables */

$box-shadow: 0 8px 5px 1px rgba(23, 23, 33, 0.05);
