
.owl-carousel {
	margin: 0;
}

.owl-carousel .owl-nav [class*=owl-] {
	background: rgba(0, 0, 0, 0.5);
	color: rgba(255, 255, 255, 0.9);
	font-size: 11px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 0;
	text-align: center;
}

.owl-carousel .owl-nav [class*=owl-]:hover {
	background: rgba(0, 0, 0, 0.9);
	color: #FFF;
}

.owl-carousel .owl-prev,
.owl-carousel .owl-next {
	position: absolute;
	top: 50%;
	width: 55px;
	height: 55px;
	margin: auto !important;
	margin-top: -30px !important;
	box-shadow: 0 8px 5px 1px rgba(23, 23, 33, 0.05);
}

.owl-carousel .owl-prev {
	left: 5px;
}

.owl-carousel .owl-next {
	right: 5px;
}

.owl-carousel .owl-dots {
	display: none !important;
}


#owl-1 span:before {
	content: "sada";
}

#owl-1 .owl-page:first-of-type span:before {
	content: "daaa!";
}

#owl-1 .owl-page:nth-of-type(2) span:before {
	content: "baaa!";
}

#owl-2  {
	margin-top: 50px;	
}

#owl-2 img {
	margin: 0 auto;
}

#owl-2 .item p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
  text-align: left;
	width: 800px;
	margin: 0 auto;
	margin-top: 30px;
	padding: 0 10px;
}

#owl-2 .item h3 {
	font-family: 'Open Sans', sans-serif;
  text-align: left;
	width: 800px;
	margin-top: 30px;
	text-align: right;
}

#owl-3 a {
	text-decoration: none;
}

#owl-3 img {
	margin: 0 auto;
}

#owl-4 img {
	margin: 0 auto;
}

#owl-5 img {
	margin: 0 auto;
}
