
.owl-carousel {
	margin: 0;
}

.owl-carousel .owl-nav [class*=owl-] {
	background: rgba(0, 0, 0, 0.5);
	color: rgba(255, 255, 255, 0.9);
	font-size: 11px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 0;
	text-align: center;
}

.owl-carousel .owl-nav [class*=owl-]:hover {
	background: rgba(0, 0, 0, 0.9);
	color: #FFF;
}

.owl-carousel .owl-prev,
.owl-carousel .owl-next {
	position: absolute;
	top: 50%;
	width: 55px;
	height: 55px;
	margin: auto !important;
	margin-top: -30px !important;
	box-shadow: 0 8px 5px 1px rgba(23, 23, 33, 0.05);
}

.owl-carousel .owl-prev {
	left: 5px;
}

.owl-carousel .owl-next {
	right: 5px;
}

.owl-carousel .owl-dots {
	display: none !important;
}

/* --- OWL-2 --- */

#owl-2  {
	margin-top: 200px;	
	margin-bottom: 50px;
}

#owl-2 .owl-page span:before {
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
	font-weight: 300;
}

#owl-2 .owl-page:first-of-type span:before {
	content: "Дефіле";
}

/* #owl-2 .owl-page:first-of-type span {
	margin-left: 0;
} */

#owl-2 .owl-page:nth-of-type(2) span:before {
	content: "Косметологія";
}

#owl-2 .owl-page:nth-of-type(3) span:before {
	content: "Теорія модельного бізнесу";
}

#owl-2 .owl-page.active span {
	border-radius: 0;
	border-bottom: 10px solid #f2d5cc;
	padding-bottom: 5px;
}

#owl-2 .owl-pagination {
	position: absolute;
    top: -110px;
    width: 1700px;
	right: 0;
    left: 0;
	margin: auto;
	text-align-last: left;
}

/* -------------- */


/* --- OWL-3 --- */

#owl-3  {
	margin-top: 130px;	
}

#owl-3 .owl-page span:before {
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
	font-weight: 300;
}

#owl-3 .owl-page:first-of-type span:before {
	content: "Дефіле";
}

#owl-3 .owl-page:nth-of-type(2) span:before {
	content: "Моделі-хостес";
}

#owl-3 .owl-page:nth-of-type(3) span:before {
	content: "Участь у рекламі та зйомках";
}

#owl-3 .owl-page:nth-of-type(4) span:before {
	content: "Інше";
}

#owl-3 .owl-page.active span {
	border-radius: 0;
	border-bottom: 10px solid #f2d5cc;
	padding-bottom: 5px;
}

#owl-3 .owl-pagination {
	position: absolute;
    top: -110px;
    width: 1700px;
	right: 0;
    left: 0;
	margin: auto;
	text-align: left;
}

/* -------------- */